*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    background-image: url(https://dl.dropbox.com/s/i5ns6bljky2taut/prettysky.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
#music {
    width: 0;
    height: 0;
    opacity: 0;
}
h1 {
    position: relative;
    top: -200px;
}
p {
    position: relative;
    top: -100px;
    left: -220px;
}
#close {
    display: block;
    width: 150px;
    position: fixed;
    top: 560px;
    right: 980px;
    margin: 10px auto;
    text-align: center;
    background-color: #c9afe9;
    border: 4px solid white;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 5px;
}